<p>
    The application assembly is: <strong>@MvcApplication.MvcApplication.ApplicationAssemblyDetails.ApplicationAssembly</strong>
</p>
<p>
    The application bin folder is: <strong>@MvcApplication.MvcApplication.ApplicationAssemblyDetails.BinFolder</strong>
</p>
<p>
    The application version number is: <strong>@MvcApplication.MvcApplication.ApplicationAssemblyDetails.VersionNumber</strong>
</p>
<p>
    This application was built in <strong>@MvcApplication.MvcApplication.ApplicationAssemblyDetails.BuildMode</strong> mode.
</p>